body {
    font-family: "Lato", sans-serif;
    margin: 0px;
  }

  .goToSanajahti{
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .nav-wrapper > .right-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  
  .active-nav-link a {
    color: black !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: black;
  }
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:5%;
  }
  
  .portfolio-item-wrapper {
    position: relative;
    padding: 0;
    margin-left:1%;
    margin-right:1%;
  }
  
  .portfolio-img-background {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    text-align: center;
    color: transparent;
    font-weight: 600;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }


  .sanajahti-grid{
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    display:grid;
    width: 100%;
    height: 100%;
    grid-gap: 0px;
  }

  .letter{
    align-items: center;
    text-align: center;
    display: flex;
    background-color:transparent;
    color:black;
    font-size: 3vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

  .grid-wrapper{
    border: 5px solid black;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20vw;
    height: 20vw;
    color: black;
  }

  .help{
    justify-self:center;
    width:4vw;
    height:4vw;
    color:lightslategray;
    font-size:4vw;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom:1vw;
    text-align: center;

  } 

  .help:hover + .helpInfo{
    display:block;

  }


  .helpInfo{
    justify-self: center;
    text-align: left;
    padding:1%;
    margin-top:5%;
    display:none;
    position:fixed;
    z-index: 1000;
    width:15vw;
    height:15vw;
    color:white;
    background:rgba(40,40,40,1);
    border-radius:10%;

  } 



  .content-wrapper-sanajahti{
    display:grid;
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  .button-wrapper-sanajahti{
    margin-top: 1%;
    width: 20vw;
  }

  .napit-sanajahti{
    color: white;
    text-align: center;
    width: 7vw;
    height: 4vw;
  }

  .content-wrapper-wordle{
    display:grid;
    margin-top: 5%;
    justify-content: center;
    align-content: center;
    

  }

  .grid-wrapper-wordle{
    border: 5px solid black;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 5vw;
    color: black;
    padding-right: 7px;

  }

  .wordle-grid{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    display:grid;
    width: 100%;
    height: 100%;
    grid-gap: 1px;
    color:black;

    
  }
  
  .wordleLetter{
    align-items: center;
    text-align: center;
    display: flex;
    background-color: darkgray;
    color:black;
    font-size: 3vw;
    width:100%;
    outline:none;
    border-style: solid;
    border-color:black;
  
  }

  .buttonsContainer{
    align-items:center;
    display:flex;
    margin-bottom: 2vw;
    justify-content: space-between;
    padding:0;

  }

  .wordleButtons{
    width: 4vw;
    height: 4vw;
    border-radius: 20%;
    padding:0;
    border-style: solid;
    border-color: black;
    

  } 

  .wordleButtons#grayBtn{
    background-color:#575757;
  }

  .wordleButtons#greenBtn{
    background-color:green;
  }

  .wordleButtons#yellowBtn{
    background-color:yellow;
  }

  .findFoundContainer{
    display:flex;
    justify-content: center;
    flex-direction: column;
  } 

  .wordleFind{
    margin-top:1vw;
    width:31vw;
    height:5vw;
    margin-bottom:4vw;
    
  }

  .wordleFound{
    margin-top:1vw;
    width:31vw;
    height:15vw;
    overflow-y:scroll;
    resize:none;
    margin-bottom:1%;
  }

  .controls-container{
    display:grid;
    position:fixed;
    justify-items: center;
    margin-left:calc(50% - (25vw/2));
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content:center;
    align-items: center;
    margin-top:10%;
    padding:1vw;
    height:20vw;
    width:25vw;
    background-color:#574747
    
  } 