<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>Portfolio Homepage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
  <div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper">
          <a href="/">Home</a>
        </div>

        <div class="nav-link-wrapper active-nav-link">
          <a href="about.html">About</a>
        </div>
      </div>

      <div class="right-side">
        <div class="brand">
          Jesse Palviainen
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="two-column-wrapper">
        <div class="profile-image-wrapper">
          <img src="images/img3.ico" alt="">
        </div>

        <div class="profile-content-wrapper">
          <h1>Hi, thanks for visiting my site.</h1>
        </div>
      </div>
    </div>
  </div>

</body>

</html>